.wrapper{
    padding: 90px 0 90px 0;
    background-color: #bac1c4;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.text{
    text-align: center;
    h4{
        margin-bottom: 15px;
    }
}